@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.sidebar {
  padding:10px;
  height:100%;
  width:18rem;
  background: #1f86b6;
  position:fixed!important;
  z-index:1;
  overflow:auto;
  font-family: 'Oswald', sans-serif;
  font-size: x-large;
  color: #fff;
}

.profile_img {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
  border-radius: 50%;
}

.header-section {
  margin: 0;
  text-align: center;
  font-weight: 400;
}

.footer-section {
  text-align: center;
  margin-top: 20px;
  border-top: solid 2px #0d77a8;
}

.e-mail {
  margin: 0;
  font-weight: 100;
  color: white;
}

.email-container {
  padding: 3px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
  border: solid 1px #0c709e;
}

.social_contacts {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.social_container {
  display: inline-block;
  margin: 0 auto;

}

.social-icon {
  color: white;
  padding: 0.5rem;
}

.nav-section {
  margin-top: 20px;
  border-top: solid 2px #0d77a8;
}

.nav-item {
  color: #000;
  margin: auto;
  width: 75%;
  left: 25px;
  font-weight: 300;
  padding-bottom: 5px;
}

.nav-link {
  color: #fff;
}

.content {
  height:100%;
  background: rgb(255, 255, 255);
  margin-left:18rem;
}

.about-section {
  background: rgb(248, 248, 248);
  padding-bottom: 50px;
}

.modal-container {
  padding-left: 4rem;
}

.resume-modal {
  background-color: #1f86b6;
  border: none;
  color: white;
  padding: 5px 20px 7px 20px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  border-radius: 5px;
}
