@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

:root {
  --main-color:#00a6bd;
  --main-lighter:#00bed5;
  --main-darker:#007889;
  --dark-gray:#535353;
  --light-gray:rgb(240, 240, 240);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.sidebar {
  padding:10px;
  height:100%;
  width:18rem;
  background: var(--main-color);
  position:fixed!important;
  z-index:1;
  overflow:auto;
  font-family: 'Oswald', sans-serif;
  font-size: x-large;
  color: #fff;
}

.profile_img {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 14rem;
  border-radius: 50%;
  border: double 4px white;
}

.header-section {
  margin: 0;
  text-align: center;
  font-weight: 400;
}

.footer-section {
  text-align: center;
  margin-top: 20px;
  border-top: solid 0px var(--main-darker);
}

.e-mail {
  margin: 0;
  font-weight: lighter;
  color: white;
}

.email-container {
  padding: 3px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
  border: solid 0px var(--main-darker);
}

.social_contacts {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.social_container {
  display: inline-block;
  margin: 0 auto;

}

.social-icon {
  color: white;
  padding: 0.5rem;
}

.social-icon:hover {
  color: var(--main-darker);
}

.nav-section {
  margin-top: 20px;
  border-top: solid 0px var(--main-darker);
}

.nav-item {
  color: white;
  margin: 0.2rem auto;
  width: 75%;
  font-weight: 300;
  padding-bottom: 5px;
}

.nav-item:hover {
  border-left: solid 4px white;
  color: var(--main-darker);
  cursor: pointer;
}

.content {
  height:100%;
  background: var(--light-gray);
  margin-left:18rem;
  font-family: 'Roboto', sans-serif;
}

.about-section {
  padding: 3rem;
  max-width: 65rem !important;
}

.button {
  background-color: var(--main-color);
  border: none;
  color: white;
  padding: 5px 20px 7px 20px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  border-radius: 5px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: var(--main-darker);
}

.dark-gray {
  background-color: var(--dark-gray);
}

.dark-gray:hover {
  background-color: rgb(48, 48, 48);
}

.icon-size-adjust {
  padding-bottom: 3px;
}

.content-section-container {
  background-color: white;
  padding: 3rem;
  margin: 1.5rem;
  max-width: 65rem !important;
  border: solid 1px rgb(224, 224, 224);
}

.section-title::before {
  content: "";
  border-left: solid 6px var(--main-color);
  padding-right: 1rem;
}

.section-title {
  font-size: 2rem;
}

/* EDUCATION SECTION */
.school-logo {
  width: 5rem;
  height: auto;
  margin-bottom: auto;
}

.education-item-main {
  max-width: 22rem !important;
}

.education-item-details {
  font-weight: lighter;
}

.course-list {
  max-width: 15rem !important;
  color: var(--dark-gray);
  font-weight: normal;
  padding: 0 !important;
}

/* SKILLS SECTION */
.skill-col {
  margin: 0.5rem 1rem;
  padding: 1.5rem 0.5rem;
  text-align: center;
  border: solid 1px darkgray;
  border-radius: 1rem;
  min-width: 9rem !important;
  max-width: 15rem !important;
  transition: border 0.3s ease;
}

.skill-col:hover {
  border: solid 1px var(--main-color);
}

.skill-col ul {
  padding: 0;
  margin: 0;
  list-style: None;
  text-align: center;
}